* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: elephant;
}
.main.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f4f4;
}
.navbar {
  display: flex;
  background-color: rgb(25, 126, 25);
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
}
.navbar li {
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.navbar li:hover {
  background-color: #0b0b0b; /* New background color on hover */
  color: rgb(237, 235, 235); /* New text color on hover */
}
.navbar li {
  list-style: none;
  font-family: elephant;
  font-size: 16px;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  color: white;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(3, 138, 37, 0.1);
}
.hero img {
  width: 300px;
  height: 300px;
  border-radius: 80%;
  object-fit: cover;
  margin-bottom: 20px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.project-list img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(3, 138, 37, 0.1);
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(3, 138, 37, 0.1);
}
.projects h2 {
  text-align: center;
  font-size: 40px;
  color: #333;    
}
.footer {
  display: flex;
  background-color: rgb(25, 126, 25);
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
}
.footer li {
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.footer li:hover {
  background-color: #0b0b0b; /* New background color on hover */
  color: rgb(237, 235, 235); /* New text color on hover */
}
.footer li {
  list-style: none;
  font-family: elephant;
  font-size: 16px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover {
  color: white;
}

.footer p {
  text-align: right;
  padding: 30px 0px;
  font-size: 10px;      